#data--text {
    height: 100%;
    padding: 10px;
    border: 2px solid #26a69a;
    overflow-y: auto;
}

.text .content {
    position: relative;
    height: 300px;
    margin: 20px 0;
}

.result .list {
    height: 324px;
}

.result .list p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preloader-wrapper {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.highlight {
    color: #9c27b0;
    font-weight: bold;
}

#toast-container {
  top: auto !important;
  right: 7% !important;
  bottom: 10%;
  left: auto !important;
}